#title{
text-align: center;
font-size: 30px;
margin-top: 10px;
}

 #container{
    height:80vh;
    width: 80%;
    text-align:center;
    border-radius: 4em;
  border: 1px solid black;
  margin-top: 1%;
  margin-left: 10%;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, .3);
    }
#canvasDealer{
    /*border-style: solid;*/
    color: blue;
    margin:0;
    padding:0;
    margin-top:70px;
}


#canvasPlayer1{

   /* border-style: solid;*/

}

#canvasPlayer2{

    /*border-style: solid;*/

}
   


#frontOfCards{

    width: 400px;
    text-align: center;
    justify-content: center;
    color:red;
}
    

   

   #message{
    color:red;
    font-size: 14;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace, Times, serif;
    margin-bottom: 5px;
   
   }
  
   #flex{
       display: flex;
       flex-direction: row;

   }

   #drawCardBtnUpper{
       text-align: center;
       justify-items: center;
   }
                