body{

   /*max-width: 1200px;*/
   margin-left: auto;
 margin-right: auto;
 
}

#forFlex{

    border: 10px solid rgb(210, 29, 19);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#container{
    
   border: 10px solid rgb(113, 137, 26);
   height:60%;
   width: 50%;
   text-align:center;
   border-radius: 4em;
   margin-left: auto;
   margin-right: auto;
   margin-top: 2%;
   box-shadow: 10px 20px 30px rgba(0, 0, 0, .3);
 
}

#containerLargeDisplay{

    border: 10px solid rgb(226, 14, 177);
    
  

}


#headerContainer{
    
   
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}

#title{

font-size: 30px;

width:50%;
text-align:center;

align-self: center;
margin-left: 160px;

}


#scoreHere{
    
    width:50%;
    font-size: 30px;
    color:red;
    align-self: center;
   
    

    
}

 
 
    
#canvasDealer{
    /*border-style: solid;*/
    color: blue;
    margin:0;
    padding:0;
    margin-top:20px;
}

/*border: 1px solid rgb(137, 26, 26);*/

#canvasPlayer1{

   /* border-style: solid;*/

}

#canvasPlayer2{

    /*border-style: solid;*/

}
   


#frontOfCards{

    width: 400px;
    text-align: center;
    justify-content: center;
    color:red;
}
    
#scoreAtTop{
    width:50%;
    font-size: 30px;
    color:red;
    align-self: center;
}

#containsUpperButtons{

    margin-top:5px;
}
   

   #message{
    color:red;
    font-size: 14;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace, Times, serif;
    margin-bottom: 5px;
   
   }
  
   #flex{
       display: flex;
       flex-direction: row;

   }

   #drawCardBtnUpper{
       text-align: center;
       justify-items: center;
   }


   
         
   #messageLower{
    font-weight: normal;

   }
   
   #alternateContainer{

    background-color: whitesmoke;
    display:flex;
    flex-direction: row;
   
    justify-content:center;  
    align-items: center;
    width:100%;
    height:100vh;
    border: 1px solid rgb(41, 6, 109);
    
    

    
}

#item{
    border: 1px solid rgb(6, 9, 109);
    display:flex;
    flex-direction: row;
    justify-content:center;  
    align-items: center;
    height:10%;
    width:100%;
    font-size: 10px;
    


}

   /*mobile*/
    
   
   @media screen and (min-height: 900px) {

    #container{display: none;}
    #alternateContainer{display:flex;}
    #item{display:flex;}
    #containerLargeDisplay{display: none;}

    }


    
    /*green*/
    @media screen and (min-height: 1039px) {

        #alternateContainer{display:none;}
        #item{display:none;}
        #container{display: block;}
        #containerLargeDisplay{display: none;}
    
    }

    /*extra large*/
    @media screen and (min-height: 1572px) {

        /*#containerLargeDisplay{display: block;}*/
        #alternateContainer{display:none;}
        #item{display:none;}

        #forFlex{

            border: 10px solid rgb(210, 29, 19);
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        
        }
        /*#container{display: none;}*/
        #container{
    
            border: 10px solid rgb(59, 26, 137);
            height:33%;
            width: 50%;
            text-align:center;
            border-radius: 4em;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2%;
            box-shadow: 10px 20px 30px rgba(0, 0, 0, .3);
          
         }
    

    
    }


   